.group {
    display: flex;
    margin: -0.875em -0.5em;
    flex-wrap: wrap;
}

.group::after {
    display: block;
    content: "";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.group > * {
    margin: 0.875em 0.5em;
    float: none;
}

.stacked {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: -0.5em -0.5em;
}

.stacked::after {
    display: none;
}

.stacked > * {
    margin: 0.5em;
}
