$hasChangesColor: #3cb371;
$hasNoChangesColor: transparent;
$mineColor: skyblue;
$deferredColor: rgb(173, 173, 173);
$deferredColorOpaque: rgba(173, 173, 173, .1);
$favoritesColor: rgb(161, 99, 202);
$favoritesColorOpaque: rgb(161, 99, 202, .08);
$forwardedColor: #21ba45;// rgb(72, 176, 124);
$forwardedColorOpaque: #21ba4515;// rgb(72, 176, 124);
$permawatchColor: #e696ae;
$keywordColor: #4287f5;
$keywordColorOpaque: #6280b17e;
$pinnedColor: #eca06e;
$pinnedColorOpaque: #eca06e15;
$rowItemHover: darken(white, 5%);

body,
#root {
    height: 100%;
    overflow: overlay;
}

.Page {
    user-select: none;
    padding: 15px;
    padding-top: 70px;
    position: relative;
}

.RightTopCorner {
    position: absolute;
    top: 12px;
    right: 15px;
}

.TopBar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    width: calc(100% - 10px);
    background-color: white;
    z-index: 1000;
}

.WorkItemLink {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.IterationInTitle {
    font-size: 12px;
    color: gray;
    font-style: italic;
    margin-right: 4px;
}

.HasChangesDot {
    width: 9px;
    height: 9px;
    display: inline-block;
    background-color: orange;
    border-radius: 50%;
    margin-right: 4px;
}

.cellRelative {
    position: relative;
}

.workItemHasChanges {
    border-left: 4px solid $hasChangesColor;
}

.workItemHasNoCanges {
    border-left: 4px solid $hasNoChangesColor;
}

.workItemIsMine {
    border-left: 4px solid $mineColor;
}

.workItemDeferred {
    border-left: 4px solid $deferredColor;
}

tr.workItemDeferred {
    background-color: $deferredColorOpaque;
}

.workItemFavorite {
    border-left: 4px solid $favoritesColor;
}

tr.workItemFavorite {
   background-color: $favoritesColorOpaque;
}

.workItemForwarded {
    border-left: 4px solid $forwardedColor;
}

tr.workItemForwarded {
    background-color: $forwardedColorOpaque;
}

.workItemPinned {
    border-left: 4px solid $pinnedColor;
}

tr.workItemPinned {
    background-color: $pinnedColorOpaque;
}

.workItemPermawatch {
    border-left: 4px solid $permawatchColor;
}

tr.workItemKeyword {
    background-color: keywordColorOpaque;
}
td.workItemKeyword {
    border-left: 4px solid $keywordColor;
}

.wiIndicatorPermawatch {
    color: $permawatchColor;
}

.wiIndicatorDeferred {
    color: $deferredColor;
}

.wiIndicatorFavorite {
    color: $favoritesColor;
}

.wiIndicatorForwarded {
    color: $forwardedColor;
}

.wiIndicatorPinned {
    color: $pinnedColor;
}

.hasChangesText {
    font-weight: bold;
}

.hasShelve {
    color: green;
}

.externalLink {
    color: rgb(155, 155, 155);
    float: right;
    cursor: pointer;
    &:hover {
        color: #4798da;
    }
}

.react-contextmenu-item {
    &:focus {
        outline: none;
    }

    &:hover {
        background-color: lightgray;
        cursor: pointer;
    }
}

.ui.vertical.menu {
    width: 20rem;
}

nav {
    z-index: 10 !important;
}

.ui.table tr:hover {
    background-color: $rowItemHover;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.05);
}

.ui.table tr:first-child td {
    border-top-left-radius: 3px;
}

.ui.table tr:last-child td {
    border-bottom-left-radius: 3px;
}

.LocalVersion {
    font-size: 12px;
    margin-right: 10px;
    opacity: 0.6;
}

.WICounts {
    div {
        margin-bottom: 3px;
    }
}

.LinkStyleButton {
    text-decoration: underline;
    cursor: pointer;
}

//deprecated
.FestivalBannerContainer {
    position: absolute;
    top: 8px;
    left: 6px;
    width: 25px;
}

img.av-class, img.ui.avatar.image.av-class {
    height: 26px !important;
    width: 26px !important;
    border-radius: 50% !important;
}

.user-label {
    border: none !important;
    background-color: transparent !important;
    font-weight: normal !important;
}

.mar8NameLabel {
    color: #ca639b !important;
}

.marked {
    background-color: yellow;
}

.ql-container {
    margin-top: 5px;
    padding-right: 3px;

    .label {
        padding: 2px 4px;
        cursor: pointer;
    }
}
