.Page {
    user-select: none;
    padding: 15px;
    padding-top: 70px;
    position: relative;
}

.RightTopCorner {
    position: absolute;
    top: 12px;
    right: 15px;
}

.TopBar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    background-color: white;
    z-index: 1000;
    height: 60px;
}

.WorkItemLink{
    cursor: pointer;
}