$hasChangesColor: #3cb371;
$hasNoChangesColor: transparent;
$mineColor: skyblue;
$deferredColor: rgb(173, 173, 173);
$favoritesColor: rgb(161, 99, 202);
$permawatchColor: #e696ae;
$keywordColor: #4287f5;
$rowItemHover: darken(white, 5%);

body,
#root {
    height: 100%;
    overflow: overlay;
}

.Page {
    user-select: none;
    padding: 15px;
    padding-top: 70px;
    position: relative;
}

.RightTopCorner {
    position: absolute;
    top: 12px;
    right: 15px;
}

.TopBar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    width: calc(100% - 10px);
    background-color: white;
    z-index: 10;
    height: 60px;
}

.WorkItemLink {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.IterationInTitle {
    font-size: 12px;
    color: gray;
    font-style: italic;
    margin-right: 4px;
}

.workItemHasCanges {
    border-left: 4px solid $hasChangesColor;
}

.workItemHasNoCanges {
    border-left: 4px solid $hasNoChangesColor;
}

.workItemIsMine {
    border-left: 4px solid $mineColor;
}

.workItemDeferred {
    border-left: 4px solid $deferredColor;
}

.workItemFavorite {
    border-left: 4px solid $favoritesColor;
}

.workItemPermawatch {
    border-left: 4px solid $permawatchColor;
}

tr.workItemKeyword{
    background-color: #6280b17e;
}
td.workItemKeyword{
    border-left: 4px solid $keywordColor;
}

.wiIndicatorPermawatch {
    color: $permawatchColor;
}

.wiIndicatorDeferred {
    color: $deferredColor;
}

.wiIndicatorFavorite {
    color: $favoritesColor;
}

.hasChangesText {
    font-weight: bold;
}

.hasShelve {
    color: green;
}

.externalLink {
    color: rgb(155, 155, 155);
    float: right;
    cursor: pointer;
    &:hover {
        color: #4798da;
    }
}

.react-contextmenu-item {
    &:focus {
        outline: none;
    }

    &:hover {
        background-color: lightgray;
        cursor: pointer;
    }
}

.ui.vertical.menu {
    width: 20rem;
}

nav {
    z-index: 10 !important;
}

.ui.table tr:hover  {
    background-color: $rowItemHover;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.05);
}

.ui.table tr:first-child td {
    border-top-left-radius: 3px;
}

.ui.table tr:last-child td {
    border-bottom-left-radius: 3px;
}

.LocalVersion {
    font-size: 12px;
    margin-right: 10px;
    opacity: 0.6;
}

.WICounts {
    div {
        margin-bottom: 3px;
    }
}

.LinkStyleButton {
    text-decoration: underline;
    cursor: pointer;
}

//deprecated
.FestivalBannerContainer {
    position: absolute;
    top: 8px;
    left: 6px;
    width: 25px;
}
